<h2>My Posts</h2>
    <!-- Helperを利用しリンクにする。ルートはコマンドでみる -->
    <%= link_to  'Add New' , new_post_path , class: 'heder-menu' %>
<ul>
    <% @posts.each do |post|  %>
    <li>
        <!-- Helperを利用しリンクにする -->
        <%= link_to  post.title,post_path(post) %>
    </li>
    <% end %>
</ul>